@font-face {
  font-family: Sign Painter;
  font-style: cursive;
  src: url("./fonts/sign/SignPainter.otf");
}
@font-face {
  font-family: Din;
  font-style: normal;
  font-weight: heavy;
  src: url("./fonts/din/DINNextLTPro-Heavy.otf");
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffcec8;
}
img,
video {
  width: 100%;
  max-width: 100%;
}
.__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100vh;
  width: 100%;
}
.__first,
.__details,
.__lights,
.__location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}
.__first::before,
.__details::before,
.__first::after,
.__details::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 4rem;
  background-size: 300%;
  z-index: 9999;
  background-image: url("./img/border.svg");
  background-repeat: repeat-x;
  background-position: center 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .__first::before,
  .__details::before,
  .__first::after,
  .__details::after {
    height: 8rem;
    background-size: 200%;
  }
}
.__first::before,
.__details::before {
  top: 0;
}
.__first::after,
.__details::after {
  bottom: 0;
  -webkit-transform: rotate(180deg) translate3d(0, 0rem, 0);
          transform: rotate(180deg) translate3d(0, 0rem, 0);
}
.__first {
  height: 100vh;
  background-color: #cdf3ee;
  position: relative;
}
.__first .__tree-wrap {
  -webkit-transform: translate3d(-0.75rem, 0rem, 0);
          transform: translate3d(-0.75rem, 0rem, 0);
}
@media screen and (min-width: 768px) {
  .__first .__tree-wrap {
    -webkit-transform: translate3d(-3.2rem, 0rem, 0);
            transform: translate3d(-3.2rem, 0rem, 0);
  }
}
@media screen and (min-width: 992px) {
  .__first .__tree-wrap {
    -webkit-transform: translate3d(-6.5rem, 0rem, 0);
            transform: translate3d(-6.5rem, 0rem, 0);
  }
}
.__first .__tree-wrap #christmas-tree {
  height: 100%;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .__first .__tree-wrap #christmas-tree {
    width: 120%;
  }
}
.__first .__tree-wrap #christmas-tree [data-name=snowflakes] g {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dance 1s infinite alternate;
          animation: dance 1s infinite alternate;
}
.__details {
  background-color: #ffcec8;
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  overflow: hidden;
  min-height: 110vh;
}
.__details .__img {
  width: 13%;
  margin-right: 1.5rem;
  position: relative;
  z-index: 9998;
}
.__details .__img:nth-of-type(2) {
  -webkit-transform: translate3d(0, -20vw, 0);
          transform: translate3d(0, -20vw, 0);
}
@media screen and (min-width: 992px) {
  .__details .__img:nth-of-type(2) {
    -webkit-transform: translate3d(-10vw, -30vw, 0);
            transform: translate3d(-10vw, -30vw, 0);
  }
}
.__details .__img:nth-of-type(3) {
  -webkit-transform: translate3d(0, -50vw, 0);
          transform: translate3d(0, -50vw, 0);
}
@media screen and (min-width: 992px) {
  .__details .__img:nth-of-type(3) {
    -webkit-transform: translate3d(0, -60vw, 0);
            transform: translate3d(0, -60vw, 0);
  }
}
.__details .__img:nth-of-type(4) {
  -webkit-transform: translate3d(0, -60vw, 0);
          transform: translate3d(0, -60vw, 0);
}
@media screen and (min-width: 992px) {
  .__details .__img:nth-of-type(4) {
    -webkit-transform: translate3d(0, -80vw, 0);
            transform: translate3d(0, -80vw, 0);
  }
}
.__details .__img:nth-of-type(5) {
  -webkit-transform: translate3d(0, -40vw, 0);
          transform: translate3d(0, -40vw, 0);
}
@media screen and (min-width: 992px) {
  .__details .__img:nth-of-type(5) {
    -webkit-transform: translate3d(0, -60vw, 0);
            transform: translate3d(0, -60vw, 0);
  }
}
.__details #date-time {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.__details #date-time svg {
  width: 75%;
  margin-bottom: 23%;
}
@media screen and (min-width: 992px) {
  .__details #date-time svg {
    margin-bottom: 35%;
  }
}
.__details #date-time svg:hover {
  -webkit-animation: pop 0.45s ease-in-out forwards;
          animation: pop 0.45s ease-in-out forwards;
}
.__lights {
  background-color: #f8f8ff;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0 15px 50px 15px #f8f8ff;
}
.__lights .light-row {
  width: 100%;
  -webkit-transition: none;
  transition: none;
  position: relative;
}
@media screen and (min-width: 320px), (max-width: 375px) {
  .__lights .light-row {
    height: 25vh;
  }
}
@media screen and (min-width: 375px) {
  .__lights .light-row {
    max-height: 20rem;
    height: 20rem;
  }
}
.__lights .light-row::before,
.__lights .light-row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: 65% -3rem;
  opacity: 1;
}
@media screen and (min-width: 320px), (max-width: 375px) {
  .__lights .light-row::before,
  .__lights .light-row::after {
    background-size: 120%;
  }
}
@media screen and (min-width: 375px) {
  .__lights .light-row::before,
  .__lights .light-row::after {
    background-size: 140%;
    background-position: center -3rem;
  }
}
@media screen and (min-width: 400px) {
  .__lights .light-row::before,
  .__lights .light-row::after {
    background-position: 65% -2rem;
    background-size: 100%;
  }
}
@media screen and (min-width: 525px) {
  .__lights .light-row::before,
  .__lights .light-row::after {
    background-size: contain;
  }
}
.__lights .light-row::before {
  background-image: url("./img/lights-on.svg");
  -webkit-animation: lights 1s steps(2, end) infinite reverse;
          animation: lights 1s steps(2, end) infinite reverse;
}
.__lights .light-row::after {
  background-image: url("./img/lights-off.svg");
  -webkit-animation: lights 1s steps(2, end) infinite;
          animation: lights 1s steps(2, end) infinite;
}
.__lights .light-row.__bottom {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.__lights .snacks-and-drinks {
  background-image: url("./img/snacks-and-drinks-mobile.svg");
  background-repeat: no-repeat;
  height: 50vh;
  width: 90%;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 992px) {
  .__lights .snacks-and-drinks {
    background-image: url("./img/snacks-and-drinks.svg");
    width: 80%;
    height: 30vh;
  }
}
.__lights .snacks-and-drinks img {
  width: 130%;
}
.__location {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #323232;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}
.__location .__wreaths {
  background-image: url("./img/wreaths.svg");
  background-repeat: repeat-x;
  height: 25vh;
  width: 100%;
  background-position: center 100%;
  background-size: contain;
  position: relative;
  z-index: 9999;
  margin-top: 10vh;
}
.__location .__address {
  position: relative;
  z-index: 9999;
  background-image: url("./img/holiday_land_fun_time_address-large.svg");
  background-repeat: no-repeat;
  height: 25rem;
  width: 85%;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 992px) {
  .__location .__address {
    width: 75%;
    background-position: center 80%;
  }
}
#light-circle:nth-of-type(odd) {
  -webkit-animation: flash 1s steps(2) infinite;
          animation: flash 1s steps(2) infinite;
}
#light-circle:nth-of-type(even) {
  -webkit-animation: flash 1s steps(2) infinite reverse;
          animation: flash 1s steps(2) infinite reverse;
}
#snow {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: transparent;
  z-index: 9997;
}
@media screen and (min-width: 768px) {
  #snow {
    height: 800px;
  }
}
@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}
@keyframes dance {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  75% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  75% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes flash {
  0% {
    fill: #ffcec8;
    opacity: 0;
  }
  100% {
    fill: #cdf3ee;
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    fill: #ffcec8;
    opacity: 0;
  }
  100% {
    fill: #cdf3ee;
    opacity: 1;
  }
}
@-webkit-keyframes lights {
  0% {
    visibility: collapse;
  }
  100% {
    visibility: visible;
  }
}
@keyframes lights {
  0% {
    visibility: collapse;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes flash {
  from {
    fill: #cdf3ee;
  }
  to {
    fill: #ffcec8;
  }
}
@keyframes flash {
  from {
    fill: #cdf3ee;
  }
  to {
    fill: #ffcec8;
  }
}
