// vars 〰️

// colors 🔴🔵
$red = hsl(346.8, 100%, 44%)
$light_red = hsl(6.2, 100%, 89.2%)
$green = hsl(175.9, 100%, 40.3%)
$light_green = hsl(173.1, 60.3%, 87.7%)

// fonts 🔤
@font-face
	font-family Sign Painter
	font-style cursive
	src url(./fonts/sign/SignPainter.otf)

@font-face
	font-family Din
	font-style normal
	font-weight heavy
	src url(./fonts/din/DINNextLTPro-Heavy.otf)
	
// animations 💃
$keyframe-name = dance
@keyframes {$keyframe-name}
	for i in 0..2	
		{50% * i}
			transform rotate(i*30+0deg)
			
@keyframes pop {
	0%{
		transform scale(1)
	}

	25% {
		transform scale(1.01)
	}
	
	50% {
		transform scale(.99)
	}

	75% {
		transform scale(1.01)
	}
	to{
		transform scale(1)
	}
}

@keyframes flash
	0%
		fill $light_red
		opacity 0
	100%
		fill $light_green
		opacity 1
		
@keyframes lights
	0%
		visibility collapse
	100%
		visibility visible

// quick reset 💛
*
	box-sizing border-box
	
html
	font-size 62.5%

body, h1, h2, h3, h4, h5, h6
	margin 0
	padding 0
	text-align center
	background-color $light_red
	
	
img, video
	width 100%
	max-width 100%

// the styles 😎	

// shared
.__container
	display flex
	flex-flow column wrap
	justify-content flex-start
	align-items center
	margin-right auto
	margin-left auto
	margin-bottom 100vh
	width 100%

.__first,.__details,.__lights,.__location
	display flex
	flex-flow row wrap
	justify-content center
	align-items center
	width 100%
	min-height 100vh
// end shared

// __first
.__first,.__details
	&::before,&::after
		content ''
		position absolute
		width 100vw
		height 4rem
		background-size 300%
		z-index 9999
		@media screen and (min-width: 768px)
			height 8rem
			background-size 200%
		background-image url(./img/border.svg)
		background-repeat repeat-x
		background-position center 0
		left 0
	&::before
		top 0
	&::after
		bottom 0
		transform rotate(180deg)translate3d(0,0rem,0)

.__first
	height 100vh
	background-color $light_green
	position relative
		
	.__tree-wrap
		transform translate3d(-.75rem,0rem,0)
		@media screen and (min-width: 768px)
			transform translate3d(-3.2rem,0rem,0)
		@media screen and (min-width: 992px)
			transform translate3d(-6.5rem,0rem,0)
		#christmas-tree
			height 100%
			width 95%
			@media screen and (min-width: 768px)
				width 120%
			
			[data-name=snowflakes]
				g
					transform-origin center
					animation dance 1s infinite alternate
// end __first

// __details
.__details
	background-color $light_red
	position relative
	justify-content flex-end
	align-items flex-start
	overflow hidden
	min-height 110vh
	.__img
		width 13%
		margin-right 1.5rem
		position relative
		z-index 9998
		&:nth-of-type(2)
			transform translate3d(0,-20vw,0)
			@media screen and (min-width: 992px)
				transform translate3d(-10vw,-30vw,0)
		&:nth-of-type(3)
			transform translate3d(0,-50vw,0)
			@media screen and (min-width: 992px)
				transform translate3d(0,-60vw,0)
		&:nth-of-type(4)
			transform translate3d(0,-60vw,0)
			@media screen and (min-width: 992px)
				transform translate3d(0,-80vw,0)
		&:nth-of-type(5)
			transform translate3d(0,-40vw,0)
			@media screen and (min-width: 992px)
				transform translate3d(0,-60vw,0)
	#date-time
		position absolute
		left 0
		bottom 0
		width 100%
		display flex
		justify-content center
		align-items flex-end
		svg
			width 75%
			margin-bottom 23%
			@media screen and (min-width: 992px)
				margin-bottom 35%
			&:hover
				animation pop .45s ease-in-out forwards
// end __details

// __lights
.__lights
	background-color ghostwhite
	flex-flow column nowrap
	justify-content space-between
	// margin-bottom 100vh
	box-shadow 0 15px 50px 15px #F8F8FF
	.light-row
		@media screen and (min-width:320px),(max-width:375px)
			height 25vh
		@media screen and (min-width:375px)
			max-height 20rem
			height 20rem
		width 100%
		transition none
		position relative
		&::before,&::after
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-repeat repeat-x
			background-position 65% -3rem
			@media screen and (min-width:320px),(max-width:375px)
				background-size 120%
			@media screen and (min-width:375px)
				background-size 140%
				background-position center -3rem
			@media screen and (min-width: 400px)
				background-position 65% -2rem
				background-size 100%
			@media screen and (min-width: 525px)
				background-size contain
			opacity 1
		&::before
			background-image url(./img/lights-on.svg)
			animation lights 1s steps(2, end) infinite reverse
		&::after
			background-image url(./img/lights-off.svg)
			animation lights 1s steps(2, end) infinite
		&.__bottom
			transform rotate(180deg)
	.snacks-and-drinks
		background-image url(./img/snacks-and-drinks-mobile.svg)
		background-repeat no-repeat
		height 50vh
		width 90%
		background-position center
		background-size contain
		@media screen and (min-width: 992px)
			background-image url(./img/snacks-and-drinks.svg)
			width 80%
			height 30vh
		img
			width 130%
// end __lights

// __location
.__location
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index -1


	background-color rgba(50,50,50,1)
	align-items flex-start
	height 100vh
	overflow hidden
	.__wreaths
		background-image url(./img/wreaths.svg)
		background-repeat repeat-x
		height 25vh
		width 100%
		background-position center 100%
		background-size contain
		position relative
		z-index 9999
		margin-top 10vh
	.__address
		position relative
		z-index 9999
		background-image url(./img/adress.svg)
		background-repeat no-repeat
		height 25rem
		width 85%
		background-position center
		@media screen and (min-width: 992px)
			width 75%
			background-position center 80%
		background-size contain
		
// end __location


@keyframes flash{
	from{
		fill: $light_green;
	}
	to{
		fill: $light_red;
	}
}

#light-circle{
	&:nth-of-type(odd){
		animation: flash 1s steps(2) infinite;
	}
	&:nth-of-type(even){
		animation: flash 1s steps(2) infinite reverse;
	}
}


// __snow
#snow
	position absolute
	top 0
	left 0
	width 100%
	height 100vh
	@media screen and (min-width: 768px)
		height 100vh
	background-color transparent
	z-index 9997